.category-point {
	overflow: hidden;
}
.category-point>li {
	width: 10px;
	height: 10px;

	float: left;
	margin: 0 5px;

	border-radius: 50%;
	background-color: yellow;
}
.category-point>li.selected {
	background-color: orange;
}